header {
  text-align: center;
}

h1 {
  font-size: 5vmax;
}

p {
  font-size: 2vmax;
}

.container-fluid {
  padding-top: 3vmin;
}

@media (min-width: 650px) {
  main {
      margin: 30px auto;
      width: 650px;
    }
}

@media (min-width: 850px) {
  .container-fluid {
    width: 850px;
  }
}
