header {
  text-align: center;
}
h1 {
  font-size: 5vmax;
}
p {
  font-size: 2vmax;
}
.container-fluid {
  margin-bottom: 2vmin;
  margin-top: 2vmin;
  padding-bottom: 2vmin;
  padding-top: 2vmin;
}
/** Remove arrows from the number input
* --> http://www.fix-css.com/2015/04/disable-input-number-field-arrows-from-css/
*/
input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
}
.checkbox {
  margin: 0 auto;
  padding: 3px;
  width: 50%;
}
.results {
  display: none;
}
.blockquote {
  margin: 2rem 0;
}
.header-watch {
  color: #6c757d;
}
.poster {
  max-width: 20vmin;
}
@media (min-width: 650px) {
  main {
      margin: 30px auto;
      width: 600px;
  }
}
@media (min-width: 850px) {
  .container-fluid {
    width: 850px;
  }
}
