header {
  text-align: center;
}
h1 {
  font-size: 5vmax;
}
.container-fluid {
  margin-bottom: 2vmin;
  margin-top: 2vmin;
  padding-bottom: 2vmin;
  padding-top: 2vmin;
}
label {
  font-weight: 600;
}
/** Remove arrows from the number input
* --> http://www.fix-css.com/2015/04/disable-input-number-field-arrows-from-css/
*/
input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
}
.checkbox {
  margin: 0 auto;
  padding: 3px;
  width: 50%;
}
.results {
  display: none;
}
.blockquote {
  margin: 2rem 0;
}
.header-watch {
  color: #6c757d;
}
.resultsTitle {
  background: #fff;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.grid-container {
  width: 100%;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px 60vw;
}
.name {
  background: #F2F2F2;
  grid-column: 1 / 3;
  font-weight: 500;
  font-size: 1.3em;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 5px;
  text-align: center;
  padding-top: 5px;
}
.poster {
  max-height: 100%;
  max-width: 97%;
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.btn-sm {
  width: 75%;
  text-align: center;
  margin: 10px;
}
.btn-sm:hover {
  text-decoration: none;
}
.hidden {
  visibility: hidden;
}
@media (min-width: 600px) {
  main, header {
      margin: 20px auto;
      width: 80%;
  }
  .grid-container {
    width: 44%;
    /* height: 70%; */
    grid-template-rows: 50px 28vw;
    margin: 10px;
  }

}
@media (min-width: 900px) {
  .container-fluid {
    width: 900px;
  }
  main, header {
      margin: 30px auto;
      width: 800px;
  }
  .grid-container {
    /* width: 50%; */
    grid-template-rows: 50px 300px;
  }
}
/*@media (min-width: 650px) {
  main, header {
      margin: 30px auto;
      width: 600px;
  }
}
@media (min-width: 850px) {
  .container-fluid {
    width: 850px;
  }
}*/
